<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="modalType === 'measure'">File: {{file.name}}</ion-title>
    <ion-title *ngIf="modalType === 'cloudMeasure'">{{variabiliService.translation.MAP.COMMUNITY_MEASURE}}</ion-title>
    <ion-title *ngIf="modalType === 'metadata'">File: {{file.name}}</ion-title>
    <ion-title *ngIf="modalType === 'filters'">{{ variabiliService.translation.MAP.MEASURE_FILTER }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="modalType === 'measure'">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{variabiliService.translation.SAVE_FILES.SAVE_FILES_TEXT8_TITLE}}</ion-card-title>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      </ion-card-header>
      <ion-card-content innerHTML="{{variabiliService.translation.SAVE_FILES.SAVE_FILES_TEXT8}}">
      </ion-card-content>
    </ion-card>

    <div style="padding: 0px 10px 50px 10px; overflow-y: auto;">
      <div style="padding:10px;">
        <div *ngFor="let line of fileOpenArrayMetadata">
          {{line}}<br>
        </div>
      </div>
      <table
        style="margin: 0px auto; border: 1px solid var(--custom-table-border); border-collapse: collapse; text-align:center;">
        <tr *ngFor="let line of fileOpenArrayData" class="tabellaRighe">
          <td *ngFor="let field of line" class="tabellaCella">
            {{field}}
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="modalType === 'cloudMeasure'">

    <div style="padding:10px;">
      <div>
        {{variabiliService.translation.SAVE_FILES.METADATA.DESCRIPTION}}: {{file.metadata.DESCRIPTION}}<br>
        {{variabiliService.translation.SAVE_FILES.METADATA.TYPE}}: {{variabiliService.metadataFromValueToLabel(file.metadata.TYPE).label}}<br>
        {{variabiliService.translation.SAVE_FILES.METADATA.ENVIRONMENT}}: {{variabiliService.metadataFromValueToLabel(file.metadata.ENVIRONMENT).label}}<br>
        {{variabiliService.translation.SAVE_FILES.METADATA.SOURCE}}: {{variabiliService.metadataFromValueToLabel(file.metadata.SOURCE).label}}<br>
        {{variabiliService.translation.SAVE_FILES.METADATA.WEATHER}}: {{variabiliService.metadataFromValueToLabel(file.metadata.WEATHER).label}}<br>
        {{variabiliService.translation.SAVE_FILES.METADATA.FEELING}}: {{variabiliService.metadataFromValueToLabel(file.metadata.FEELING).label}}<br>
        {{variabiliService.translation.SAVE_FILES.METADATA.APPROPRIATE}}: {{variabiliService.metadataFromValueToLabel(file.metadata.APPROPRIATE).label}}<br>
        {{variabiliService.translation.SAVE_FILES.METADATA.WHYTAKENOISE}}: {{variabiliService.metadataFromValueToLabel(file.metadata.WHYTAKENOISE).label}}<br>
        {{variabiliService.translation.SAVE_FILES.METADATA.MEASURE_START}}: {{file.metadata.MEASURE_START}}<br>
        {{variabiliService.translation.SAVE_FILES.METADATA.MEASURE_STOP}}: {{file.metadata.MEASURE_STOP}}<br>
        {{variabiliService.translation.SAVE_FILES.METADATA.MEASURE_DURATION}}: {{file.metadata.MEASURE_DURATION}}<br>
        {{variabiliService.translation.SAVE_FILES.METADATA.LAEQ}}: {{file.metadata.LAEQ}}<br>
      </div>
    </div>
  </div>

  <div *ngIf="modalType === 'filters' || modalType === 'metadata'">
    <ion-list mode="ios">

      <div *ngIf="modalType === 'metadata'">
        <ion-item-group>
          <ion-item-divider>
            <ion-label>
              {{variabiliService.translation.SAVE_FILES.EDIT_DESCRIPTION.HEADER_DESCRIPTION}}
            </ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-textarea value="{{file.metadata.DESCRIPTION}}" labelPlacement="stacked"
              placeholder={{variabiliService.translation.SAVE_FILES.EDIT_DESCRIPTION.INSERT_TEXT}} fill="outline"
              [autoGrow]="true" (ionInput)="textareaIonInputEventDetail($event)"></ion-textarea>
          </ion-item>
        </ion-item-group>
      </div>

      <ion-item-group *ngFor="let group of metadataGroups">
        <ion-item-divider>
          <ion-label>
            {{group.groupName}}
          </ion-label>
        </ion-item-divider>
        <div *ngIf="modalType === 'filters'">
          <div *ngFor="let divider of group.dividers">
            <ion-item-divider mode="md" *ngIf="divider.dividersName">
              <ion-label>
                {{divider.dividersName}}
              </ion-label>
            </ion-item-divider>
            <div *ngFor="let dividersElement of divider.dividersElements">
              <ion-item *ngIf="dividersElement.value !== 'other'">
                <ion-checkbox mode='md' value="{{dividersElement.value}}" checked="{{dividersElement.checked}}"
                  (ionChange)="ionChangeFilters($event)">
                  {{dividersElement.name}}
                  <ion-label *ngIf="'subtitle' in dividersElement" class="ion-text-wrap"
                    style="font-size: small;">{{dividersElement.subtitle}}</ion-label>
                </ion-checkbox>
              </ion-item>
            </div>
          </div>
        </div>
        <div *ngIf="modalType === 'metadata'">
          <ion-radio-group mode="md" value="{{group.groupRadioMetadataValue}}" [allowEmptySelection]="true"
            (ionChange)="handleChangeRadioGroup($event)">
            <div *ngFor="let divider of group.dividers">
              <ion-item-divider mode="md" *ngIf="divider.dividersName">
                <ion-label>
                  {{divider.dividersName}}
                </ion-label>
              </ion-item-divider>
              <ion-item *ngFor="let dividersElement of divider.dividersElements">
                <ion-radio value="{{dividersElement.value}}">
                  {{dividersElement.name}}
                  <ion-label *ngIf="'subtitle' in dividersElement" class="ion-text-wrap"
                    style="font-size: small;">{{dividersElement.subtitle}}</ion-label>
                </ion-radio>
              </ion-item>
            </div>
          </ion-radio-group>
        </div>
      </ion-item-group>

      <ion-item-group *ngIf="modalType === 'metadata'">

        <ion-item-divider>
          <ion-label>
            {{variabiliService.translation.SAVE_FILES.EDIT_DESCRIPTION.HEADER_FEELING}}
          </ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>
            <h2>{{variabiliService.metadataFromValueToLabel(variabiliService.metadataFromLabelToValue(file.metadata.FEELING).value).label}}</h2>
            <div>
              <ion-range mode="ios" value="{{variabiliService.metadataFromLabelToValue(file.metadata.FEELING).value}}"
                [ticks]="true" [snaps]="true" [min]="0" [max]="4" (ionInput)="feelingInput($event)">
                <ion-icon slot="start" src="assets/icon/emoji-frown.svg"></ion-icon>
                <ion-icon slot="end" src="assets/icon/emoji-smile.svg"></ion-icon>
              </ion-range>
            </div>
          </ion-label>
        </ion-item>

        <ion-item-divider>
          <ion-label>
            {{variabiliService.translation.SAVE_FILES.EDIT_DESCRIPTION.HEADER_APPROPRIATE}}
          </ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>
            <h2>{{variabiliService.metadataFromValueToLabel(variabiliService.metadataFromLabelToValue(file.metadata.APPROPRIATE).value).label}}</h2>
            <div>
              <ion-range mode="ios"
                value="{{variabiliService.metadataFromLabelToValue(file.metadata.APPROPRIATE).value}}" [ticks]="true"
                [snaps]="true" [min]="10" [max]="14" (ionInput)="appropriateInput($event)">
                <ion-icon slot="start" src="assets/icon/emoji-frown.svg"></ion-icon>
                <ion-icon slot="end" src="assets/icon/emoji-smile.svg"></ion-icon>
              </ion-range>
            </div>
          </ion-label>
        </ion-item>

      </ion-item-group>
    </ion-list>
  </div>
</ion-content>