#debug {
    user-select: text;
}

ion-header ion-buttons button {
  margin-right: 20px;
}

#ion-content {
    text-align: center;
}

#simple-content {
  margin: 0px;
  padding: 0px;
}
#refresh_icon_simple {
    font-size: 30px;
    text-align: right;
}
#refresh_text_simple {
    text-align: left;
    font-size: large;
}
#card_simple {
    padding: 10px;
}
#grid_simple {
    margin: 0px;
    padding: 0px;
}
#LAeq_label_simple {
    font-size: large;
}

#LAeq_level_simple {
    font-size: xx-large;
    font-weight: bold;
}

#advance-content {
  margin: 0px;
  padding: 0px;
}

#refresh {
    // margin:20px;
    // padding:0px;
    font-size: small;
}
// #refresh:active {
//     background-color: rgb(117, 117, 117);
// }
#refresh_icon, #save_icon  {
    font-size: 30px;
    text-align: center;
    padding: 5px;
    margin: 0px;
}
// #save_icon {
//     font-size: 20px;
//     text-align: center;
// }
#refresh_text {
    text-align: left;
    padding: 15px;
    // background-color:rgba(0, 0, 0, 0);
    // padding-right: 5px;
    // border-right-style: solid;
    // border-width: 1px;
}
.no_padding {
  padding: 0px;
}
.no_margin_bottom {
  margin-bottom: 0px;
}
.no_margin_sides{
  margin-right: 0px;
  margin-left: 0px;
}
.no_margin{
  margin: 0px;
}
#time {
    text-align: left;
}
.levels_col {
    margin: 5px;
    // background-color: rgb(252, 252, 252);
}
.levels_label {
    font-size: medium;
}
.levels_level {
    font-size: large;
}
#LAeqt {
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
}
#LAeq {
    border-top-style: solid;
    border-width: 1px;
}
#LAeq_label {
    font-size: large;
    text-align: right;
}

#LAeq_level {
    font-size: xx-large;
    // text-align: left;
    font-weight: bold;
}
#dBA {
    font-size: small;
    text-align: left;
    // font-weight: bold;
}


// #char {
//     margin: auto;
//     padding: 0px;
//     text-align: center;
// }
#charts {
    margin: 0px;
    padding: 0px;
}

#a {
    padding: 5px;
    text-align: right;
    // background-color: rgb(88, 49, 5);
}

// #chartLAeqRunning{
//     // background-color: rgb(231, 132, 18);
// }

.chartButton {
    padding: 5px;
    // background-color: rgb(250, 250, 250);
    // outline: #00FF00 solid thin;
}
.chartButtons {
    padding: 0px;
    font-size: small;
}


// .chartButton:active {
//   text-decoration: underline;
//     // background-color: rgb(231, 132, 18);
// }
#chartButtonLAeq, #chartButtonOctaves, #chartButtonSonogram {
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 1px;
}
 #chartButtonFFT {
  border-style: solid;
  border-width: 1px;
}

#save_grid {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

#save_item {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.alert {

}
