<ion-tabs>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="noisemeter" mode="md">
      <ion-icon src="/assets/icon/speedometer-icon.svg"></ion-icon>
      <ion-label>{{variabiliService.translation.TABS.NOISE_METER}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="saveddata" mode="md">
      <ion-icon name="folder-outline"></ion-icon>
      <ion-label>{{variabiliService.translation.TABS.SAVED_DATA}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" mode="md">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>{{variabiliService.translation.TABS.SETTINGS}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info" mode="md">
      <ion-icon name="information-outline"></ion-icon>
      <ion-label>{{variabiliService.translation.TABS.INFO}}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
