.black {
  ion-content {
    background-color: $app_grey_dark;
    color: $app_white;
    border-color: $app_grey_light_light;
  }
  h1, h2, h3, h4, h5, h6,
  .toolbar-title, .toolbar-background,
  ion-navbar, ion-navbar button, ion-header, ion-menu ion-content,
  .chartButton, ion-card, ion-card-header, ion-item, ion-card ion-toggle {
    background-color: $app_black;
    color: $app_white;
    border-color: $app_white;
  }

  ion-list {
    .item {
      background-color: $app_black;
      color: $app_white;
    }
  }

  ion-item-divider {
    background-color: $app_black;
    color: $app_white;
  }

  svg {
    text {
      fill: $app_grey_light_light;
    }
  }

  g {
    line {
      stroke: $app_grey_light_light;
    }
    text {
      fill: $app_grey_light_light;
    }
    path {
      stroke: $app_grey_light_light;
    }
  }
  g.grid {
    line {
      stroke: $app_grey_light;
    }
    text {
      fill: $app_grey_light;
    }
    path {
      stroke: $app_grey_light;
    }
  }
  rect.legend {
    fill: $app_black;
    stroke: $app_grey_light;
  }

}
