 .calib_card {
   margin-top: 10px;
   font-size: medium;
 }

 #calib_text {
   text-align: justify;
 }

 #LAeq_label {
     font-size: large;
     text-align: right;
 }

 #LAeq_level {
     font-size: xx-large;
     // text-align: left;
     font-weight: bold;
 }
 #dBA {
     font-size: small;
     text-align: left;
     // font-weight: bold;
 }
 
 #calib_range {
   padding: 10px;
 }
