ion-content {
    user-select: text;
}

.card-pre-home {
  margin: auto;
  padding: 10px;
  text-align: center;
}

#logo_opeNoise {
  height: 50%;
  width: 50%;
  display: block;
  margin: 10px auto 10px auto;
}

#disclaimer {
  font-size: medium;
}

#styleSet {
  padding: 10px;
  font-size: medium;
}

#nomore{
  margin: 0px;
  padding: 0px;
  text-align: left;
}
